.arrowLink {
	font-weight: 500;
	display: flex;
	color: var(--azure);
	text-decoration: none;
	margin-bottom: 0.35rem;
	align-items: center;
	justify-content: flex-start;
	align-content: center;
	flex-direction: row;
	flex-wrap: nowrap;
	&.disabled {
		opacity: 0.5;
		pointer-events: none;
		cursor: not-allowed;
		&:hover {
			color: var(--azure);
		}
	}
	&:hover {
		color: var(--red);
		text-decoration: none;
	}
}

.arrow {
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 0.5rem;
	color: var(--red);
}
