@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
	--red: #ff7232;
	--azure: #7abed9;
	--blue: #304b70;
	--beige: #faf8f6;
	--gray: #4a4a4a;
	--gap: 1rem;
}

/* utilities */
.position-sticky {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
}
.pointer {
	cursor: pointer;
}
.text-center {
	text-align: center;
}
.round-borders {
	border-radius: 4px;
}
.force-display-inline {
	display: inline !important;
	opacity: 1 !important;
}
html {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Inter", sans-serif;
}
body.menu-is-open {
	height: 100%;
	overflow: hidden;
}
a {
	color: var(--blue);
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}
/* sticky message */
.sticky-message {
	top: 60px;
	height: 36px;
	width: 100vw;
	background-color: var(--azure);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;

	.long-msg {
		display: none;
	}
	a {
		color: white;
		text-decoration: none;
	}
	a:hover {
		color: var(--blue);
	}
}
.layout-main {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap: var(--gap);
	row-gap: var(--gap);
	width: calc(100% - 40px);
	margin: auto;
	padding: var(--gap) 0;
	.a-row {
		display: inherit;
		grid-template-columns: inherit;
		column-gap: inherit;
		row-gap: inherit;
		grid-column: 1/-1;
		width: 100%;
		padding: 2rem 0 0;
		.content {
			grid-column: 1/-1;
		}
	}
}
.section-separator {
	width: 20%;
	height: 14px;
	background-image: url(../components/assets/decoration.svg);
	background-position: center;
	display: block;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 3rem 0;
}
.sidebar-link {
	font-weight: 500;
	display: grid;
	grid-template-columns: 2rem auto;
	align-items: center;
	color: var(--azure);
	text-decoration: none;
	justify-content: start;
	&:hover {
		color: var(--red);
		text-decoration: none;
	}
}

.video-wrapper {
	position: relative;
	padding-top: 56.03%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 4px;
	overflow: hidden;
}

@media screen and (min-width: 576px) {
	.layout-main {
		width: 540px;
	}
}
@media screen and (min-width: 768px) {
	:root {
		--gap: 2rem;
	}
	.layout-main {
		width: 720px;
		.a-row {
			.content {
				grid-column: 2 / span 7;
			}
		}
	}
	.sticky-message .long-msg {
		display: inline;
	}
}
@media screen and (min-width: 992px) {
	.layout-main {
		width: 960px;
		.a-row {
			.content {
				grid-column: 2 / span 7;
			}
		}
	}
}
@media screen and (min-width: 1200px) {
	.layout-main {
		width: 1140px;
	}
}
