@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --red: #FF7232;
  --azure: #7ABED9;
  --blue: #304B70;
  --beige: #FAF8F6;
}

/* utilities */
.position-sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.pointer {
  cursor: pointer;
}
.text-center {
  text-align: center;
}
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
a {
  color: var(--blue);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.sticky-message {
  top:64px;
  height:36px;
  width: 100vw;
  background-color: var(--azure);
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout-main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: calc(100% - 40px);
  margin: auto;
}
footer {
  padding-top: 2rem;
  line-height: 2rem;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  grid-column: 1 / span 12;
  text-transform: capitalize;
}
.footer-nav a {
  
}
.footer-contacts {
  grid-column: 1 / span 12;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}
.footer-contacts>a, .footer-contacts>span {
  display: grid;
  grid-template-columns: 2rem auto;
}
.footer-contacts a svg, .footer-contacts span svg {
  align-self: center;
  justify-self: start;
}
.footer-contributors{
  grid-column: 1 / span 12;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.copyright {
  grid-column: 1 / span 12;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  font-size: 0.75rem;
  color: #999;
}

@media screen and (min-width: 576px) {
  .layout-main {
    width: 540px;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    grid-column: 1 / span 6;
  }
  .footer-contacts {
    grid-column: 7 / span 6;
    display: flex;
    flex-direction: column;
  }
  .footer-contributors{
    grid-column: 1 / span 12;
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .layout-main {
    width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .layout-main {
    width: 960px;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    grid-column: 1 / span 4;
  }
  .footer-contacts {
    grid-column: 5 / span 4;
    display: flex;
    flex-direction: column;
  }
  .footer-contributors{
    grid-column: 9 / span 4;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .layout-main {
    width: 1140px;
  }
}