.navigation {
  width: 100vw;
  border-top: 4px solid var(--red);
  color: var(--blue);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* font-size: 0.875rem; */
  z-index: 1000;
  a {
    margin: 0 10px;
    color: inherit;
    font-weight: 600;
    letter-spacing: 0.1px;
    text-decoration: none;
  }
  a:hover {
    color: var(--azure);
  }

  a[aria-current="page"] {
    color: var(--azure);
  }

  a:first-child {
    margin-left: 0;
  }

  a:last-child {
    margin-right: 0;
  }
  .socials > a {
    margin: 0 15px;
  }
}
.navigation > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.socials {
  display: none;
}

@media screen and (max-width: 767px) {
  .items {
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    height: calc(100vh - 100px);
    position: absolute;
    top: 60px;
    left: 0;
    background-color: var(--beige);
    overflow: hidden;
    padding: 20px;
    transition: height 0.5s ease, padding 0.5s ease;
  }
  .items.closed {
    height: 0px;
    padding: 0 20px;
  }

  .toggle {
    display: flex;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
  }

  .menu-icon,
  .menu-icon::before,
  .menu-icon::after {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--blue);
    line-height: 0;
    margin: 0;
    padding: 0;
    transform-origin: center;
    transition: all 0.35s ease;
    position: relative;
    border-radius: 2px;
  }
  .menu-icon {
    background-color: var(--white);
  }
  .menu-icon::before {
    transform: rotate(45deg);
    top: 0px;
  }
  .menu-icon::after {
    transform: rotate(-45deg);
    top: -2px;
  }
  .closed {
    .menu-icon {
      background-color: var(--blue);
    }
    .menu-icon::before {
      transform: rotate(0deg);
      top: -0.5rem;
    }
    .menu-icon::after {
      transform: rotate(0deg);
      top: 0.35rem;
    }
  }

  .navigation a {
    margin: 1rem 0px;
  }
  .socials {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 80px;
    font-size: 1.5rem;
    align-content: center;
    justify-content: center;
    width: calc(100% - 40px);
    opacity: 1;
    transition: opacity 0.35s ease;
    transition-delay: 0.15s;
  }
  .items.closed .socials {
    opacity: 0;
    transition-delay: 0s;
  }
}

@media screen and (min-width: 768px) {
  .items {
    display: flex;
  }
  .toggle {
    display: none;
  }
}
