.navbar {
	border-top: 4px solid var(--red);
	background-color: white;

  .item {
    color: var(--blue) !important;
    font-weight: 600;
    letter-spacing: 0.1px;
    text-decoration: none;

    &:hover {
      color: var(--azure) !important;
    }
  
    &[aria-current="page"] {
      color: var(--azure) !important;
    }

    &.donaOra {
      background-color: var(--red);
      border-radius: 4px;
      color: white !important;

      padding: 0.25rem 0.5rem;
      margin: 0.25rem 0rem;
      margin-left: 0.4rem;
    }
  }
}
