:root {
  font-size: 14px;
}

h1 {
  color: var(--gray);
  margin: 0;
}
h2 {
  color: var(--blue);
  font-weight: 600;
  margin: 0;
}
h3 {
  font-size: 1.3125rem;
  font-weight: 300;
  margin: 0;
}
h4 {
  color: var(--gray);
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

p {

}
.paragraph {
  margin-top: 0;
}
.paragraphBig {
  color: var(--blue);
  font-size: 1.3125rem;
  margin: 0;
}

@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
  :root {
    font-size: 16px;
  }
}