@import "./custom.bootstrap.scss";

:root {
	--red: #ff7232;
	--azure: #7abed9;
	--blue: #304b70;
	--beige: #faf8f6;
	--gray: #4a4a4a;
	// --gap: 1rem;
	--navigationHeight: 60px;
}

.beige-bg {
	background-color: var(--beige);
}

a {
	text-decoration: none;
	color: var(--red);
	&:hover {
		color: var(--red);
		border-bottom: 1px solid var(--red);
	}
}

a.no-hover {
	&:hover {
		border: none;
	}
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}